@CHARSET "ISO-8859-1";

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:black;
  display:none;
}


#loginmodal {
position:fixed;
top: 50%;
    left:52%;
  text-align:center;
  z-index:9999;
  font-family:"Square721 Ex BT";
  font-size:13px;
  width: 300px;
  padding: 5px 5px;
  margin-top: -9em; 
  /*set to a negative number 1/2 of your height*/
    margin-left: -15em; 
    /*set to a negative number 1/2 of your width*/
  
  
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
